 
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="navbar-brand mb-0 d-flex flex-column flex-md-row">
            <div>
                <a [routerLink]="['/']"><img src="/assets/images/jmfamilies.png" class="mr-3" style="height: 50px" /></a> <img style="height: 50px" class="mr-3" src="/assets/images/HFC-Logo_NoTagline_305x114_Opt.png" />
            </div>

            <h1 class="d-none d-lg-block"> Associates Purchase Program</h1>
            <h1 class="d-none d-md-block d-lg-none h3"> Associates Purchase Program</h1>
            <h1 class="d-sm-block d-md-none h4"> Associates Purchase Program</h1>
        </div>

    </div>
</nav>
 
