<div class="alert alert-danger mt-3" hidden [hidden]="!showInvalidConcept()">
    Invalid concept.
</div>

<div [ngClass]="{'d-flex': validConcept(), 'd-none':!validConcept()}" class="  pt-2">
    <div class="p-2" [style.background]="conceptInfo?conceptInfo.imageBackground:'inherit'">
        <img alt="{{ conceptInfo?conceptInfo.name:null}}" src="{{ conceptInfo?conceptInfo.imagePath:null}}" style="height: 50px" />
    </div>
    <h2 class="d-none d-lg-block p-2">Find Your Local {{ conceptInfo?conceptInfo.name:null}} Franchise</h2>
    <h2 class="d-none d-md-block d-lg-none h3 p-2">Find Your Local {{ conceptInfo?conceptInfo.name:null}} Franchise</h2>
    <h2 class="d-sm-block d-md-none h4 p-2">Find Your Local {{ conceptInfo?conceptInfo.name:null}} Franchise</h2>
</div>


<div class="alert alert-info  " [hidden]="!showNoMatch()">

    <div class="pl-3">
        No matching territory was found.
    </div>
</div>
<form name="requestConsultationForm" class="form-group" [hidden]="!showZipForm()" (ngSubmit)="postalCodeForm.form.valid && onSubmitPostalCodeForm()" #postalCodeForm="ngForm">
    <div class="row mb-3 mt-3">
        <div class="col-4 col-md-3 col-lg-2">Zip/Postal Code</div>
        <div class="col-4 col-md-3 col-lg-2">
            <input type="text" id="postalCode" name="postalCode" appAsyncPostalCodeValidator #postalCode="ngModel" class="form-control" [(ngModel)]="postalCodeFormModel.postalCode" minlength="3" maxlength="10" required/>

        </div>
    </div>


    <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)"
         class="alert alert-danger  mt-0 mb-3">
        <div *ngIf="postalCode.errors.required">
            Zip/postal code is required.
        </div>
        <div *ngIf="postalCode.errors.invalidPostalCode">
            Please enter a valid US or Canadian postal code.
        </div>
        <div *ngIf="postalCode.errors.minlength">
            Zip/postal code must be at least 3 characters long.
        </div>
    </div>
    <div class="alert alert-danger mt-0 mb-3" [hidden]="!showInvalidPostalCode()">

        <div>Please enter a valid US or Canadian postal code.</div>

    </div>
    <button [disabled]="(!postalCodeForm.form.valid) || postalCodeFormBusy" type="submit" class="btn btn-primary">
        <div [hidden]="!postalCodeFormBusy">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </div>
        <div [hidden]="postalCodeFormBusy">
            Submit
        </div>

    </button>

</form>
<form [hidden]="!showForm()" name="form" (ngSubmit)="mainForm.form.valid && onSubmit()" #mainForm="ngForm" novalidate>
    <div class="p-2">Zip/Postal Code Entered - {{postalCodeFormModel.postalCode}}</div>
    <div class="p-2 font-weight-bold">

        <span [hidden]="lastResponse?!lastResponse.noMatchingTerritory:true">We are sorry but we do not have a {{ conceptInfo?conceptInfo.name:null}} in your Zip Code. Please fill in the form below and we will try to match you to a surrounding {{ conceptInfo?conceptInfo.name:null}}.</span>
        <span [class.d-none]="lastResponse?lastResponse.noMatchingTerritory:false" [class.d-flex]="lastResponse?!lastResponse.noMatchingTerritory:true">
            {{ conceptInfo?conceptInfo.name:null}} of {{ lastResponse?lastResponse.territoryName:null }}
        </span>

    </div>
    <div class="p-2"> {{ conceptInfo?conceptInfo.insertText:null}}</div>
    <div class="p-2 mt-4">
        <div class="form-row mb-3">
            <label class="col-2 col-md-1">Name:</label>
            <div class="col-10 col-md-11">
                <input type="text" class="form-control" #name="ngModel" required name="name" [(ngModel)]="requestFormModel.name" placeholder="Name" />
                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                     class="alert alert-danger  mt-3 mb-0">
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                    <!--<div *ngIf="name.errors.minlength">
                    Name cannot be more than 30 characters long.
                </div>-->
                    <div *ngIf="name.errors.minlength">
                        Name must be at least 2 characters long.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <label class="col-2 col-md-1">Email:</label>
            <div class="col-10 col-md-5  mb-3 ">
                <input class="form-control" type="email" #email="ngModel" required [email]="true" name="email" [(ngModel)]="requestFormModel.email" placeholder="Email Address" />
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                     class="alert alert-danger mt-3 mb-0">
                    <div *ngIf="email.errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="email.errors.email">
                        Please enter a valid email address (like 'foo@bar.com').
                    </div>
                </div>
            </div>
            <label class="col-2 col-md-1">Phone:</label>
            <div class="col-10 col-md-5  mb-3">
                <input class="form-control" type="tel" required #phone="ngModel" name="phone" [(ngModel)]="requestFormModel.phone" minlength="10" placeholder="Phone" />
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                     class="alert alert-danger  mt-3 mb-0">
                    <div *ngIf="phone.errors.required">
                        Phone is required.
                    </div>
                    <div *ngIf="phone.errors.minlength">
                        Phone must be at least 10 characters long.
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2">
            All fields required. <span [hidden]="conceptInfo?!conceptInfo.privacyPolicyUrl:true">To review our Privacy Policy click <a target="_blank" href="{{conceptInfo?conceptInfo.privacyPolicyUrl:null}}">here</a></span>
        </div>
    </div>
    
    <input type="hidden" [(ngModel)]="requestFormModel.tcpaChecked" name="tcpaChecked" value="true"/>
    <button type="submit" class="btn btn-primary mr-3 mb-3" [disabled]="(!mainForm.form.valid) || requestFormBusy">
        <div [hidden]="!requestFormBusy">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </div>
        <div [hidden]="requestFormBusy">
            Submit
        </div>
    </button>
    <button type="button" (click)="reset()" [disabled]="requestFormBusy" class="btn btn-primary mr-3 mb-3 ml-0">Reset Form</button>
</form>
<div [hidden]="!showThankYou()">
    
    <div class="alert alert-success">
        Thank you!  We have received your request for an in-home consultation. Your local {{ conceptInfo?conceptInfo.name:null}} consultant will be contacting you soon to schedule an appointment.
    </div>
   
</div>
<div [hidden]="!showWhoops()">
    <div class="alert alert-danger">Whoops! Something went wrong on our side. Please try again later.</div>
</div>
<div class="text-center" [hidden]="!showSpinner">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>