<h2 [hidden]="!concepts">Select Concept</h2>
<div [class.d-flex]="concepts">
    <div *ngFor='let concept of concepts;' [hidden]="!concepts">
        <a [routerLink]="['/request-consultation/' +concept.zipLookupBrandType.toLowerCase()]" class="btn btn-primary p-2 mr-3"  >
            <img src="{{concept.imagePath}}" style="height:100px" alt="{{concept.name}}" />
        </a>
    </div>
</div>
 